/* MOBILE */
@media (max-width: 768px) {

  .login-page{
    padding: 1rem !important;
  }

  .login-card{
    flex-direction: column !important;
    width: 100% !important;
    max-width: 420px !important;
    min-height: auto !important;
    border-radius: 30px !important;
    margin: auto;
  }

  .login-form-wrap{
    position: relative !important;
    width: 100% !important;
    left: 0 !important;
    padding: 2rem 1.3rem !important;
    order: 2;
  }

  .login-panel{
    position: relative !important;
    width: 100% !important;
    left: 0 !important;
    border-radius: 0 0 30px 30px !important;
    padding: 2rem 1.5rem !important;
    min-height: 260px !important;
    order: 1;
  }

  .login-title{
    font-size: 2rem !important;
    margin-bottom: 1rem !important;
    text-align: center;
  }

  .login-field{
    margin-bottom: .9rem !important;
  }

  .login-input{
    font-size: .95rem !important;
    padding: .8rem .5rem !important;
  }

  .login-btn{
    padding: .9rem !important;
    font-size: .95rem !important;
  }

  .login-panel-title{
    font-size: 2rem !important;
  }

  .login-panel-sub{
    font-size: .95rem !important;
    line-height: 1.7 !important;
  }

  .login-btn-outline{
    padding: .8rem 2rem !important;
    font-size: .9rem !important;
  }

  .login-icon-wrap{
    width: 90px !important;
    height: 90px !important;
  }

}